* {
    font-family: "Plus Jakarta Sans", sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*GENERAL ELEMENTS*/

h1, h2 {
    font-weight: bold;
}

h1 {
    font-size: 40px;
    text-transform: lowercase;
}

h2 {
    font-size: 30px;
    text-transform: lowercase;
}

h1 > span {
    color: #fa9fd1;
    font-size: 60px;
}

h2 > .span-pink {
    color: #fa9fd1;
    font-size: 40px;
}

h2 > .span-white {
    color: white;
    font-size: 40px;
}

img {
    height: 300px;
    padding: 0;
    margin: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: black;
}

ul {
    list-style-type: none; 
}

/*HEADER*/

.hero {
    height: 300px;
    border: 10px solid #fec2e3;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 3em;
}

/*NAVIGATION BAR*/
nav {
    background-color: #fec2e3;
    text-transform: lowercase;
    padding: 0 15px;
    height: 75px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 1em;
}

/*ABOUT ME SECTION*/

.container {
    display: flex;
    flex-direction: column;
}

.card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card > h2 {
    flex: 0 0 30%;
}

#about-me {
    height: 20em;
    font-size: 20px;
    padding: 2em; 
}

#about-me > section {
    text-align: left;
}



/* MY WORK SECTION */
.images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

.cssphoto > span {
    display: inline-block;
    width: max-content;
}

.placeholder > span {
    display: inline-block;
    width: max-content;
}

.cssphoto {
    flex: 0 0 100%;
    background-image: url("./cssphoto.jpg");
    background-color: white;
    transition: all 0.5s ease-in-out;
    padding: 15em;
}

.cssphoto > span {
    background-color: #fa9fd1;
    color: white;
    padding: 1em;
    font-size: 25px;
}

.cssphoto:hover {
    box-shadow:inset 0px 0px 20px
    #fec2e3, 0 0 30px #fec2e3;
}

.cssphoto > span:hover {
    color: black;
}

.placeholder {
    flex: 1 1 50%;
    background-image: url("./placeholder2.png");
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100%;
    padding: 10em;
}

.placeholder:hover {
    box-shadow:inset 0px 0px 20px
    #fec2e3, 0 0 30px #fec2e3;
}

.placeholder > span {
    background-color: #fa9fd1;
    color: white;
    padding: 1em;
    font-size: 20px;
}

.placeholder > span:hover {
    color: black;
}


/* CONTACT ME SECTION */

#contact-me {
    background-color:#fa9fd1;
    height: 20em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
}

#contact-me > h2 {
    flex: 0 0 30%;
}


section > ul {
    flex: 0 0 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: space-evenly;
    gap: 1em;
    font-size: 20px;
    padding: 1em;
    text-transform: lowercase;
}

/* MEDIA QUERIES */



@media screen and (max-width: 996px) {
    .card, 
    .images {
        flex-direction: column;
    }

    .hero {
        align-items: center;
        justify-content: center;
    }

    .hero > span {
        display: none;
    }

    #my-work > h2 {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        height: 20em;
    }

    #contact-me {
        flex-direction: column;
    }

    section > ul {
        flex-wrap: wrap;
    }


    #contact-me > h2 {
        padding-top: 1em;
        padding-bottom: 1em;
    }

    nav {
        align-items: flex-end;
        justify-content: center;
        padding: 2px;
    }
}



